# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Halo\ajax-hard-af\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
